# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

osx_image: xcode8.2
language: swift
cache: cocoapods
podfile: Example/Podfile
before_install:
- gem install cocoapods
script:
- pod install --repo-update
- pod lib lint --allow-warnings
